
/*Alert Message Box*/
#modalContainer {
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    /*z-index: 10000;*/
    /*background-image: url(/src/Images/background.jpg); /* required by MSIE to prevent actions on lower z-index elements */
}

#alertBox {
    width: 90%;
    max-width: 600px;
    min-height: 100px;
    /*margin-top: 25vh;
    margin-bottom: 50%;*/
    border-radius: 5px;
    background-color: #9424ce;
    background-repeat: no-repeat;
    background-position: 20px 30px;
    display: block;
    position: sticky;
}

#modalContainer > #alertBox {
     position:fixed; 
    margin-left: auto;
    margin-right: auto;
    height: fit-content;
    padding-bottom: 0.1rem;
    /*position: absolute;*/
    top: 50% !important;
    left: 50%;
    transform: translate(-50%, -50%);
}

#alertBox h1 {
    margin: 0;
    font: bold 0.9em verdana,arial;
    background-color: #561f72;
    color: #FFF;
    border-bottom: 1px solid #000;
    padding: 5px 0 5px 5px;
    text-align: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

#alertBox p {
    font: 1rem verdana,arial padding-left: 5px;
    text-align: center;
    padding-right: 5px;
    padding-left: 5px;
}

#alertBox #closeBtn {
    display: block;
    /* position:relative; */
    margin: auto;
    margin-top: 3rem;
    margin-bottom: 10px;
    padding: 7px;
    border: 0 none;
    width: 70px;
    font: 0.7em verdana,arial;
    text-transform: uppercase;
    text-align: center;
    color: #FFF;
    background-color: rgb(32 8 44 / 68%);
    border-radius: 3px;
    text-decoration: none;
}

#alertBox a {
    display: inline;
    color: #00ffe5;
    transition: all ease 0.25s;
    font: 1rem verdana,arial
}

#alertBox #closeBtn:hover {
    transform: scale(102%);
}

#alertBox a:hover {
    color: #00ff64;
    transition: all ease 0.25s;
}

#alertBox img {
    max-width: 100%;
    border-radius: 0.25rem;
    max-height: 50vh;
}