.body-load {
    margin-bottom: 2rem;
    font-size: 1.85rem;
    display: block;
    text-align: center;
    margin-top: 2rem;
    font-weight: normal;
    background: -webkit-linear-gradient(#05ff00, #ffff50);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
