/*
details {
    user-select: none;
    -webkit-user-select: none;
}
*/

summary {
    display: flex;
    cursor: pointer;
}

    summary::-webkit-details-marker {
        display: none;
    }

details summary span svg.icon {
    transition: all 0.75s;
    margin-left: auto;
}

details.detail-closed summary span svg.icon {
    /* width: 24px; */
    /* height: 24px; */
    transform: rotate(0deg);
    transition: all 0.75s;
    margin-left: auto;
}

details.detail-open summary span svg.icon {
    transform: rotate(180deg);
    /* width: 24px; */
    /* height: 24px; */
    transition: all 0.75s;
    margin-left: auto;
}

.span-icon {
    margin: auto;
    margin-right: 0px;
}

@media only screen and (max-device-width: 750px) {
    details summary span svg.icon {
        height: 30px;
    }
}