.button__danger {
    background: var(--color-error);
}

    .button__danger:hover {
        background: var(--color-error-transparent);
    }

.dashboard {
    /*margin-top: 2rem;*/
}

.dashboard__container {
    display: grid;
    grid-template-columns: 17rem auto;
    gap: 1rem;
    /* background: var(--color-primary); 
    padding: 1rem;
    margin-bottom: 5rem; */
    padding-left: 1rem;
}

.dashboard aside a {
    background: var(--color-primary-transparent);
    display: flex;
    gap: 1rem;
    align-items: center;
    padding: 1.6rem;
    text-decoration: none;
    /* width: 12rem; */
    border-radius: 5px;
}

.dashboard aside a:hover {
    /*font-size: 105%;*/
    background: var(--color-primary-light-transparent);
    transform: scale(1.05);
}

.dashboard li {
    list-style-type: "";
}

.dashboard h1 {
    font-size: 2em;
    text-align: center;
}


@media only screen and (max-device-width: 750px) {
    .dashboard aside a {
        width: unset;
        padding: 0.5rem 1.5rem 0.5rem 1.5rem;
    }
    .dashboard__container {
        grid-template-columns: 100%;
    }
}

