/* Form SignUp Or Login */
.login-container {
    width: 350px;
    max-width: 350px;
    margin: 1rem;
    padding: 2rem;
    padding-bottom: 1rem;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
    border-radius: var(--border-radius);
    background: var(--color-primary-dark-transparent);
    border: 1px darkorchid solid;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.login-container,
.form__input,
.form__button,
.button {
    font: 500 1rem 'Quicksand', sans-serif;
}

.form--hidden {
    display: none;
}

.form > *:first-child {
    margin-top: 0;
}

.form > *:last-child {
    margin-top: 0;
}

.form__title {
    margin-bottom: 2rem;
    font-family: 'Quicksand';
    text-align: center;
    color: white;
}

.form__message {
    text-align: center;
    margin-bottom: 1rem;
}

.form__message--success {
    color: var(--color-success);
}

.form__message--error {
    color: var(--color-error);
}

.form__input-group {
    margin-bottom: 1rem;
}

.form__input {
    display: block;
    width: 100%;
    padding: 0.75rem;
    box-sizing: border-box;
    border-radius: var(--border-radius);
    border: 2px solid var(--color-primary-light);
    outline: none;
    background: var(--color-primary-dark);
    transition: background 0.2s, border-color 0.2s;
    color: white;
    /*text-align: center;*/
}

.form__input::placeholder {
    color: #c5c5c5;
    /*text-align: center;*/
}

.form__input:focus {
    background: var(--color-primary-transparent);
}

.form__input--error {
    color: var(--color-error);
    border-color: var(--color-error);
}

.form__input-error-message {
    margin-top: 0.5rem;
    font-size: 0.85rem;
    color: var(--color-error)
}

.form__input--correct {
    color: var(--color-success);
}

.form__input-correct-message {
    margin-top: 0.5rem;
    font-size: 0.85rem;
    color: var(--color-success)
}

.form__button,
.button {
    width: 100%;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding: 1 rem 2 rem;
    font-weight: bold;
    font-size: 1.1rem;
    color: white;
    border: none;
    border-radius: var(--border-radius);
    outline: none;
    cursor: pointer;
    background: var(--color-primary);
    transition: all 0.5s;
}

    .form__button:not(.button) {
        margin-bottom: 1rem;
        margin-top: 1rem;
    }

    .form__button:hover {
        background: var(--color-primary-light-transparent);
        transform: scale(102%);
    }

    .form__button:active {
        transform: scale(0.98);
    }

    .form__button:disabled {
        background: #efefef4d !important;
        cursor: not-allowed;
    }

    .form__button:disabled:hover {
        transform: scale(100%);
    }




.form__text {
    text-align: center;
}

.form__link {
    color: var(--color-primary-light);
    text-decoration: none;
    cursor: pointer;
}

.form__link:hover {
    color: white;
    text-decoration: underline;
    /*font-size: 1rem;*/
}


.form__label {
    padding: 0px;
}


.form__control > input,
.form__control > select,
.form__label {
    margin-top: 0.25em;
    text-align: center;
    width: 100%;
    display: block;
    /*align-items: center;*/
}

.form__file {
    color: #c5c5c5;
    text-align: center;
}

::file-selector-button {
    display: none;
    /*align-content: center;
    background: red*/
}


/*
    ========================================================================
    = Form Base container (a form inside of a base.php, not clearbase.php) =
    ========================================================================
*/


.from__base-container {
    width: 40vw;
    max-width: 450px;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
}


/* other Stuff */

.form__input {
    width: 100%;
    max-width: 100%;
    min-height: 3rem;
    min-width: 100%;
}

.from__wide {
    max-width: unset;
    width: 90%;
}

.form__input-group-wide {
    margin-bottom: 1.5rem;
    margin-top: 0.5rem;
}

.form__label-wide {
    margin-left: 0.5em !important;
    text-align: initial !important;
}

.form__input-group-wide > select {
    text-align: initial;
}
.form__go-back {
    margin-top: 1rem;
}



.grecaptcha-badge {
    visibility: hidden;
}

.form__description_notice p {
    font-size: .6rem;
    text-align: center;
    margin-bottom: 1.5rem;
}

.form__description_notice a {
    display: inline;
    font-size: .6rem;
}

.form__description_notice button {
    margin-bottom: 0rem;
}


select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

/* if mobile device max width 900px */
@media only screen and (max-device-width: 750px) {
    .login-container {
        width: 75vw;
    }
}

.option {
    display: none ;
}