/*.gradient-text:hover{
  font-family:"Abril Fatface", sans-serif;
  background: linear-gradient(to right, red,purple,#ad38e7);
  background-size: 200% 200%;
  animation: rainbow 2s ease-in-out infinite;
  background-clip: text;
  -webkit-background-clip:text;
  color:rgba(0,0,0,1);
}

@keyframes rainbow { 
  0%{background-position:left}
  50%{background-position:right}
  100%{background-position:left}
}
*/
.gradient-text:hover {
    font-family: "Abril Fatface", sans-serif;
    background: linear-gradient(to bottom, red,purple,#3869e7);
    background-size: 200% 200%;
    animation: rainbow 2s ease-in-out infinite;
    background-clip: text;
    -webkit-background-clip: text;
    color: rgba(0,0,0,1);
}

@keyframes rainbow {
    0% {
        background-position: top
    }

    50% {
        background-position: bottom
    }

    100% {
        background-position: top
    }
}
