
:root {
    --loader-point-color: rgb(173, 56, 231);
    --loader-size: 3px;
  }
  
  .loader {
      display: flex;
      align-items: center;
      align-content: center;
      justify-content: center;
      z-index: 100000;
      margin: 2rem;
  }
  
  .loader__element {
    border-radius: 100%;
    border: var(--loader-size) solid var(--loader-point-color);
    margin: calc(var(--loader-size)*2);
  }
  
  .loader__element:nth-child(1) {
    animation: preloader .6s ease-in-out alternate infinite;
  }
  .loader__element:nth-child(2) {
    animation: preloader .6s ease-in-out alternate .2s infinite;
  }
  
  .loader__element:nth-child(3) {
    animation: preloader .6s ease-in-out alternate .4s infinite;
  }
  
  @keyframes preloader {
    100% { transform: scale(2); }
  }
  