@import '/src/css/alert.css';
@import '/src/css/dropdown.css';

.hide {
    display: none;
}

body {
    --color-primary: #651d8a;
    --color-primary-transparent: #651d8a91;
    --color-primary-light: rgb(173, 56, 231);
    --color-primary-light-transparent: rgba(173, 56, 231, 0.5);
    --color-primary-dark: #20082c;
    --color-primary-dark-transparent: #20082cb1;
    --color-secondary: #252c6a;
    --color-error: #cc333c;
    --color-success: #4bb544;
    --border-radius: 4px;
    --transparent: rgba(0, 0, 0, 0);
    margin: 0;
    /*Broken*/
    /*height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;*/

    font-size: 18px;
    background: url(./Images/background.jpg) no-repeat center center fixed;
    /*background: url(https://i.imgur.com/avVY9c9.jpg?1) no-repeat center center fixed;*/
    background-size: cover;
    padding-top: 2rem;
    padding-bottom: 2rem;
    /*Center The Body Horizontally and Vertically*/
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 90vh;
}


    .Main__Text {
    margin-bottom: 2rem;
    text-align: center;
    color: white;
    display: block;
    font-size: 2em;
    margin-block-start: 0rem;
    margin-block-end: 0rem;
    font-weight: bold;
}

.Sub__Text {
    margin-bottom: 2rem;
    font-size: 0.85rem;
    display: block;
    margin-block-start: 0rem;
    margin-block-end: 0rem;
    text-align: center;
    color: white;
}





/*Header*/
.logo__link {
    color: rgb(173, 56, 231);
    display: block;
    margin-bottom: 5px;
    text-decoration: none;
    transition:all 0.5s;
    font-family: 'Dancing Script', cursive;
}
.logo__link:hover {
    font-size: 3.25rem;
    text-decoration: none;
    font-family: 'Dancing Script', cursive;
}
.nav {
    /*border-bottom: 1px solid #ccc;
    margin-bottom: 10px; /* adjust as per requirement */
}
.header__link {
    color: rgb(173, 56, 231);
    display: block;
    /*margin-bottom: 5px;*/
    text-decoration: none;
    transition:all 0.5s;
}
.header__header {
    height: 4rem;
    vertical-align: middle;
}
.header__li {
    display: inline-block;
}
.header__logo {
    /*float: left;*/
    margin: 0rem;
    font-size: xxx-large;
    font-family: 'Dancing Script', cursive;
}
.header__middle {
    padding-left: 1rem;
    padding-right: 1rem;
    white-space: nowrap;
	text-align: center;
    line-height: 3.5rem;
	
	display: flex;
    justify-content: center;
    align-items: center;
}
.header__middle__child {
    display: inline-block;
}
.header__nav {
    margin-bottom: -15px;
}
.header__spacing {
    width: 25%;
}

.center__text {
    text-align: center;
}






* {
    font-family: sans-serif;
    color: white;
}
@keyframes dance {
    from {transform: rotate(-5deg);}
    to {transform: rotate(25deg);}
}
.animate-this {
    animation-name: dance;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
h1, h2 {
    font-family: monospace;
}
h1 {
    font-size: 3em;
}
h2{
    color: lightseagreen;
    font-size: 2em;
}
#main {
    width: 85vw;
    max-width: 800px;
    margin: auto;
    padding: 0 30px 10px 30px;
    border: 1px darkorchid solid;
    border-radius: 0.5rem;
    background: var(--color-primary-dark-transparent);
}
.themed {
    color: gold;
}
header {
    text-align: center;
    padding: 5px;
    margin: 10px 0 10px 0;
}
a {
    color: CornFlowerBlue;
    display: block;
    /*margin-bottom: 5px;*/
    transition:all 0.5s;
}
a:hover {
    font-size: 1.5rem;
    text-decoration: none;
}
ul, ol, li {
    padding: 5px;
    float: middle;
}
hr {
    border: none;
    height: 1px;
    margin: 25px;
    background: darkorchid;
}
footer{
    background: rgb(32, 8, 44);
    border-radius: 5px;
    padding: 0.1px;
    font-size: 1em;
    margin: 0;
}

/*
@media (max-width: 800px) {
    * {
        font-size: 12px;
    }
    #main {
        max-width: 100%;
        padding: 0;
        border: none;
    }
    img {
        max-width: 25%;
    }
}
*/


/* if desktop */
.mobile_device_900px,
.device_height_unsupported {
    display: none;
	font-size: 75%;
}




/* if mobile device max width 900px */
@media only screen and (max-device-width: 650px) {
    .mobile_device_900px {display: block;}       
    .desktop {display: none;}
	.device_height_unsupported {display: none;}
	
	* {
        font-size: 12px;
    }
    #main {
        max-width: 75%;
        width: auto;
        padding: 0 30px 10px 30px;
    }
	.logo__link {
		font-size: 7vw;
	}
	.logo__link:hover {
		font-size: 7vw;
	}
	hr {
		margin: 5px;
	}
	a:hover {
		font-size: 2.55vw;
		text-decoration: none;
	}
}
 




@media only screen and (max-device-height: 399px) {
    .mobile_device_900px {display: none;}       
    .desktop {display: none;}
	.device_height_unsupported {display: block;}  
	
}

/*
.device_message {
    /*width:800px;
    margin: auto;
    padding: 0 30px 10px 30px;
    border: 1px darkorchid solid; 
    border-radius: 0.5rem;
    background: var(--color-primary-dark-transparent);
}


@media only screen and (min-device-width: 649px) {
	hr {
	margin: 20px;
	}
}


*/ 







.Social__Big__Logo {
    border-radius: 5px; 
    width: 75%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    transition:all 0.5s
}
.Social__Big__Logo:hover {
    width: 80%;
}


.MyArt__Image {
    border-radius: 5px; 
    width: 75%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    transition:all 0.5s
}
.MyArt__Image:hover {
    width: 80%;
}





































/* Form SignUp Or Login */
.container {
    width: 350px;
    max-width: 350px;
    margin: 1rem;
    padding: 2rem;
    padding-bottom: 1rem;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
    border-radius: var(--border-radius);
    background: var(--color-primary-dark-transparent);
}

.container,
.form__input,
.form__button,
.button {
    font: 500 1rem 'Quicksand', sans-serif;
}

.form--hidden{
    display: none;
}

.form > *:first-child {
    margin-top: 0;
}

.form > *:last-child {
    margin-top: 0;
}

.form__title {
    margin-bottom: 2rem;
    font-family: 'Quicksand';
    text-align: center;
    color: white;
}

.form__message {
    text-align: center;
    margin-bottom: 1rem;
}

.form__message--success {
    color: var(--color-success);
}

.form__message--error {
    color: var(--color-error);
}

.form__input-group {
    margin-bottom: 1rem;
}

.form__input {
    display: block;
    width: 100%;
    padding: 0.75rem;
    box-sizing: border-box;
    border-radius: var(--border-radius);
    border: 2px solid #dddddd;
    outline: none;
    background: var(--color-primary-dark);
    transition: background 0.2s, border-color 0.2s;
    color: white;
}

.form__input:focus {
    background: var(--color-primary-transparent);
}

.form__input--error {
    color: var(--color-error);
    border-color: var(--color-error);
}

.form__input-error-message {
    margin-top:  0.5rem;
    font-size: 0.85rem;
    color: var(--color-error)
}

.form__input--correct {
    color: var(--color-success);
}

.form__input-correct-message {
    margin-top:  0.5rem;
    font-size: 0.85rem;
    color: var(--color-success)
}

.form__button,
.button {
    width: 100%;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding: 1 rem 2 rem;
    margin-bottom: 1rem;
    font-weight: bold;
    font-size: 1.1rem;
    color: white;
    border: none;
    border-radius: var(--border-radius);
    outline: none;
    cursor: pointer;
    background: var(--color-primary);
}

.form__button:hover {
    background: var(--color-primary-light-transparent);
}

.form__button:active {
    transform: scale(0.98);
}

.form__text {
    text-align: center;
}

.form__link {
    color: var(--color-primary-light);
    text-decoration: none;
    cursor: pointer;
}

.form__link:hover {
    color: white;
    text-decoration: underline;
}





