/*Custom ScrollBar
/* width 
::-webkit-scrollbar {
    width: 10px;
}
*/
/* Track 
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 10px var(--scrollbar-background);
    border-radius: 10px;
}
*/
/* Handle 
::-webkit-scrollbar-thumb {
    background: var(--scrollbar-default);
    border-radius: 10px;
}
*/
/* Handle on hover 
    ::-webkit-scrollbar-thumb:hover {
        background: #9630ee;
    }
*/



/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: var(--scrollbar-default) var(--scrollbar-background);
}



/*Custom ScrollBar*/
/* width */
::-webkit-scrollbar {
    width: 7.5px;
    height: 7.5px;
    background: var(--scrollbar-background);
}

::-webkit-scrollbar-corner {
    background: var(--scrollbar-background);
}


/* Track */
*::-webkit-scrollbar-track {
    background: var(--scrollbar-background);
    box-shadow: inset 0 0 10px var(--scrollbar-background);
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--scrollbar-default);
    border-radius: 10px;
    border: 0px;
}

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: var(--scrollbar-hover);
    }
